In [2]:
import pandas as pd

In [3]:
ls

analysis.ipynb                 movie_ratings_16_17.csv*
fandango_score_comparison.csv*

In [6]:
fandango = pd.read_csv('fandango_score_comparison.csv',
           usecols=['FILM', 'Fandango_Stars', 'Fandango_Ratingvalue', 'Fandango_votes', 'Fandango_Difference']
           )
movie = pd.read_csv('movie_ratings_16_17.csv',
                   usecols=['movie', 'year', 'fandango'])

In [50]:
fandango['year'] = fandango['FILM'].apply(lambda x:x.split(" ")[-1].replace("(","").replace(")",""))

In [52]:
fandango['year'].value_counts()

2015    129
2014     17
Name: year, dtype: int64

In [53]:
movie['year'].value_counts()

2016    191
2017     23
Name: year, dtype: int64

In [54]:
fandango.head()

,FILM,Fandango_Stars,Fandango_Ratingvalue,Fandango_votes,Fandango_Difference,year
0,Avengers: Age of Ultron (2015),5.0,4.5,14846,0.5,2015
1,Cinderella (2015),5.0,4.5,12640,0.5,2015
2,Ant-Man (2015),5.0,4.5,12055,0.5,2015
3,Do You Believe? (2015),5.0,4.5,1793,0.5,2015
4,Hot Tub Time Machine 2 (2015),3.5,3.0,1021,0.5,2015

AttributeError: 'list' object has no attribute 'intersect'